<h2>Home</h2>

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <ul class="list-group affix" scrollSpy [scrollSpyAffix]="{topMargin: 70, bottomMargin: 70}">
            <li class="list-group-item">1</li>
            <li class="list-group-item">2</li>
            <li class="list-group-item">3</li>
            <li class="list-group-item">4</li>
            <li class="list-group-item">5</li>
            <li class="list-group-item">6</li>
            <li class="list-group-item">7</li>
            <li class="list-group-item">8</li>
            <li class="list-group-item">9</li>
            <li class="list-group-item">10</li>
            <li class="list-group-item">11</li>
            <li class="list-group-item">12</li>
            <li class="list-group-item">13</li>
            <li class="list-group-item">14</li>
            <li class="list-group-item">15</li>
            <li class="list-group-item">16</li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <ul class="list-group">
            <li class="list-group-item">1</li>
            <li class="list-group-item">2</li>
            <li class="list-group-item">3</li>
            <li class="list-group-item">4</li>
            <li class="list-group-item">5</li>
            <li class="list-group-item">6</li>
            <li class="list-group-item">7</li>
            <li class="list-group-item">8</li>
            <li class="list-group-item">9</li>
            <li class="list-group-item">10</li>
            <li class="list-group-item">11</li>
            <li class="list-group-item">12</li>
            <li class="list-group-item">13</li>
            <li class="list-group-item">14</li>
            <li class="list-group-item">15</li>
            <li class="list-group-item">16</li>
            <li class="list-group-item">17</li>
            <li class="list-group-item">18</li>
            <li class="list-group-item">19</li>
            <li class="list-group-item">20</li>
            <li class="list-group-item">21</li>
            <li class="list-group-item">22</li>
            <li class="list-group-item">23</li>
            <li class="list-group-item">24</li>
            <li class="list-group-item">25</li>
            <li class="list-group-item">26</li>
            <li class="list-group-item">27</li>
            <li class="list-group-item">28</li>
        </ul>
    </div>
</div>