<h2>Home</h2>

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <ul class="list-group affix">
            <li class="list-group-item">1</li>
            <li class="list-group-item">2</li>
            <li class="list-group-item">3</li>
            <li class="list-group-item">4</li>
            <li class="list-group-item">5</li>
            <li class="list-group-item">6</li>
            <li class="list-group-item">7</li>
            <li class="list-group-item">8</li>
            <li class="list-group-item">9</li>
            <li class="list-group-item">10</li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="list-group">
            <app-google-map></app-google-map>



            <!--<app-wow-slider></app-wow-slider>-->

            <app-geo-map></app-geo-map>

            <app-google-chart-map></app-google-chart-map>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <ul class="list-group">
            <li class="list-group-item">1</li>
            <li class="list-group-item">2</li>
            <li class="list-group-item">3</li>
            <li class="list-group-item">4</li>
            <li class="list-group-item">5</li>
            <li class="list-group-item">6</li>
            <li class="list-group-item">7</li>
            <li class="list-group-item">8</li>
            <li class="list-group-item">9</li>
            <li class="list-group-item">10</li>
            <li class="list-group-item">11</li>
            <li class="list-group-item">12</li>
            <li class="list-group-item">13</li>
            <li class="list-group-item">14</li>
            <li class="list-group-item">15</li>
            <li class="list-group-item">16</li>
        </ul>
    </div>
</div>