<div id="myDiv"></div>

<!-- sliders holder -->
<div id="mainSlidersHolder">
    <p id="preview">Live preview settings:</p>
    <div id="slidersHolder"></div>
</div>

<!-- carousel data -->
<div id="carouselData" style="display: none;">

    <!-- image datalist category 1 -->
    <ul data-cat="Category one">
        <ul>
            <li data-type="link" data-url="http://www.google.com" data-target="_blank"></li>
            <li data-thumbnail-path="../../assets/images/3d-slider/slider-1.png"></li>
            <li data-thumbnail-text="" data-thumbnail-text-title-offset="35" data-thumbnail-text-offset-top="10" data-thumbnail-text-offset-bottom="7">
                <p class="largeLabel">CUSTOM PRESS THUMBNAIL ACTION</p>
                <p class="smallLabel">When a thumbnail is pressed the carousel can open a browser window or the lightbox, also if HTML content is used the lightbox can be disabled this way links or interactive html tags can be used.</p>
            </li>
            <li data-info="">
                <p class="mediaDescriptionHeader">CUSTOM PRESS THUMBNAIL ACTION.</p>
                <p class="mediaDescriptionText">When a thumbnail is pressed you can choose either to display an original media lightbox which we have coded, or to open a new webpage, the url and target of this webpage can be specified. The lightbox can display images, iframe or videos
                    loaded from YouTube or Vimeo. Also you can set up one or more thumbnails so that a new browser page will be opened when they are pressed. The URL and target for this page can be customized, also if HTML content is used the lightbox
                    can be disabled this way links or interactive html tags can be used.</p>
            </li>
        </ul>

        <ul>
            <li data-type="media" data-url="../../assets/images/3d-slider/slider-2.png"></li>
            <li data-thumbnail-path="../../assets/images/3d-slider/slider-2.png"></li>
            <li data-thumbnail-text="" data-thumbnail-text-title-offset="35" data-thumbnail-text-offset-top="10" data-thumbnail-text-offset-bottom="7">
                <p class="largeLabel">RESPONSIVE LAYOUT</p>
                <p class="smallLabel">The carousel has responsive layout.</p>
            </li>
            <li data-info="">
                <p class="mediaDescriptionHeader">RESPONSIVE LAYOUT.</p>
                <p class="mediaDescriptionText">The carousel has responsive layout, basically it has an adaptable layout which makes it the perfect candidate for any type of project.</p>
            </li>
        </ul>
        <ul>
            <li data-type="media" data-url="../../assets/images/3d-slider/slider-3.png"></li>
            <li data-thumbnail-path="../../assets/images/3d-slider/slider-3.png"></li>
            <li data-thumbnail-text="" data-thumbnail-text-title-offset="35" data-thumbnail-text-offset-top="10" data-thumbnail-text-offset-bottom="7">
                <p class="largeLabel">RESPONSIVE LAYOUT</p>
                <p class="smallLabel">The carousel has responsive layout.</p>
            </li>
            <li data-info="">
                <p class="mediaDescriptionHeader">RESPONSIVE LAYOUT.</p>
                <p class="mediaDescriptionText">The carousel has responsive layout, basically it has an adaptable layout which makes it the perfect candidate for any type of project.</p>
            </li>
        </ul>

        <ul>
            <li data-type="media" data-url="http://vimeo.com/84577359"></li>
            <li data-thumbnail-path="../../assets/images/3d-slider/slider-4.png"></li>
            <li data-thumbnail-text="" data-thumbnail-text-title-offset="35" data-thumbnail-text-offset-top="10" data-thumbnail-text-offset-bottom="7">
                <p class="largeLabel">2D FALLBACK FOR OLDER BROWSERS LIKE IE7/8</p>
                <p class="smallLabel">On a older browser that does not have 3D support the carousel will display in a 2D format.</p>
            </li>
            <li data-info="">
                <p class="mediaDescriptionHeader">2D FALLBACK FOR OLDER BROWSERS LIKE IE7/8.</p>
                <p class="mediaDescriptionText">On a older browser that does not have 3D support the carousel will display in a 2D format.</p>
            </li>
        </ul>

    </ul>
</div>